div{
    border: 1px solid rgb(79, 73, 73);
    padding: 15px;
    margin: 15px;
    width: fit-content;
    flex-direction: column;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    box-shadow: 3px 3px black;
    background-color:rgba(215, 215, 230, 0.673);

}
span{
    background-color: yellow;
    font-size: large;
    font-weight: bold;
    
}